<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>PaginasJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>401</error-code>
    <location>/P11_PaginaErro.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/P11_PaginaErro.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/P11_PaginaErro.jsp</location>
  </error-page>
  <error-page>
    <error-code>408</error-code>
    <location>/P11_PaginaErro.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/P11_PaginaErro.jsp</location>
  </error-page>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:postgresql://vps-b7cf1329.vps.ovh.net:5432/tlusers</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>tluser_01</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>Xpto.1234.Student.tluser_01</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ExecuteQuery</display-name>
    <servlet-name>ExecuteQuery</servlet-name>
    <servlet-class>pt.citeforma.jdbc.ExecuteQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteQuery</servlet-name>
    <url-pattern>/ExecuteQuery</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>pt.citeforma.servlets.MyServletContextListener</listener-class>
  </listener>
</web-app>